---
import FooterForm from "@ui/forms/FooterForm.astro";
import ContactInfo from "@common/ContactInfo.astro";

// Props for customization
const companyName = "XeonTek";
const companyAbout = "Quick fact";
const companyDescription =
  "We are a software engineering company whose main focus lies in building high performance web, mobile and AI apps targetted at B2B and B2C markets.";
// Contact information for the company
const contactDetails = {
  address: "27 Old Gloucester St",
  street: "London, WC1N 3AX",
  email: "enquiries@xeontek.com",
  website: "www.xeontek.com",
  linkedin: "https://www.linkedin.com/company/xeontek"
};

// Dynamic date for copyright display

const foundedYear = 2013;
const copyrightYear = new Date().getFullYear();

const subscriptionText = "Newletter Subscription";

const termsOfUseLink = "/terms";
const termsOfUseText = "Terms of use";

const path = Astro.url.pathname;

console.log(path)

// Trademark notice
const trademarkNotice =
  "All trademarks, service marks, trade names, product names and logos appearing on this site are the property of their respective owners.";
---

<footer
  class="mt-auto w-full bg-linear-to-t/oklch from-teal-200 via-transparent to-white pb-10"
>
  <div class="mx-auto mt-auto w-full max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8">
   

     
      {path === '/' && (
         <hr class="mb-10 border-slate-200" />
          <div class="grid grid-cols-2 gap-6 md:grid-cols-5">
            {/* Company Information */}
            <div class="col-span-full self-center xl:col-span-2">
              <span
                class="flex-none text-xl font-semibold uppercase text-slate-700 focus:opacity-80 focus:outline-hidden"
                aria-label="{companyName} Homepage"
              >
                {companyAbout}
              </span>
              <p class="mt-5 text-pretty text-slate-600 lg:w-5/12 xl:w-10/12">
                {companyDescription}
              </p>
            </div>

            {/* Contact Information Section */}
          <div class="col-span-1 md:col-span-2 xl:col-span-1 xl:col-start-3">
              <ContactInfo {...contactDetails} />
            </div>
          
            {/* Email Subscription Form */}
            <div class="col-span-2 md:col-span-3 xl:col-span-2">
              <h3 class="font-semibold text-slate-700">{subscriptionText}</h3>
              <FooterForm />
            </div>
          </div>
      )}

    
    {/* Divider before footer's bottom section */}
    <hr class="mb-5 mt-10 border-slate-200" />

    <div
      class="grid gap-y-2 sm:flex sm:items-center sm:justify-between sm:gap-y-0"
    >
      {/* Copyright and Crafted By Section */}
      <p class="text-sm text-slate-400/50">
        &copy; {foundedYear}-{copyrightYear}
        {companyName} &nbsp;
        | &nbsp;
        <a
        href={termsOfUseLink}
        rel="noopener noreferrer"
        class="transition-colors duration-300 hover:text-slate-500">{termsOfUseText}</a>
      </p>

      {/* Trademark Notice */}
      <p class="text-sm text-slate-400/50">
        <Fragment set:html={trademarkNotice} />
      </p>
    </div>
  </div>
</footer>
