---
import BaseLayout from "@layout/BaseLayout.astro";
import type { WithContext, Thing } from "schema-dts";
import { getCollection } from "astro:content";

const jobs = await getCollection("jobs");

export const pageContent = {
    pageTitle: "Work with us",
    tableHeadings: {
        name: "Role",
        details: "Description",
        action: "",
    },
    actionLabel: "Apply Now",
};

const subTitle =
    "We are always looking for talented individuals to join our team. If you are passionate about leveraging AI to transform real estate, venture capital, and fintech industries, we'd love to hear from you. Explore our current openings below and take the first step towards an exciting career with XeonTek.";


// SEO metadata for the page
const seo = {
  title: "Careers - XeonTek",
  description:
    "Explore exciting career opportunities at XeonTek. Join our team of innovators and help shape the future of AI-driven solutions in real estate, venture capital, and fintech.",
};

// Schema.org metadata for SEO
const schema: WithContext<Thing> = {
  "@context": "https://schema.org",
  "@type": "WebPage",
  inLanguage: "en-GB",
  "@id": Astro.url.href,
  url: Astro.url.href,
  name: seo.title,
  description: seo.description,
  isPartOf: {
    "@type": "WebSite",
    url: `${Astro.site}`,
    name: seo.title,
    description: seo.description
  },
};
---

<BaseLayout seo={seo} schema={schema}>
    <section class="mx-auto max-w-[85rem] px-4 pt-48 pb-12 sm:px-6 lg:px-8">
        <div class="max-w-7xl">
            <div class="mx-auto max-w-3xl lg:mx-0">
                <h1
                    class="text-4xl text-balance text-slate-800 sm:text-5xl md:text-6xl lg:text-7xl"
                >
                    {pageContent.pageTitle}
                </h1>

                <p
                    class="mt-8 text-lg font-medium text-pretty text-slate-700 sm:text-xl/8"
                >
                    <Fragment set:html={subTitle} />
                </p>
            </div>
        </div>
    </section>

    <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 md:py-14 lg:px-8">
        <div class="flex flex-col">
            <div class="overflow-x-auto">
                <div class="inline-block p-1.5 align-middle lg:w-4/5">
                    <table class="divide-y divide-dashed divide-slate-300">
                        <thead>
                            <tr>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-start text-xs font-medium text-slate-500 uppercase"
                                    >{pageContent.tableHeadings.name}</th
                                >
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-start text-xs font-medium text-slate-500 uppercase"
                                    >{pageContent.tableHeadings.details}</th
                                >
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-end text-xs font-medium text-slate-500 uppercase"
                                    >{pageContent.tableHeadings.action}</th
                                >
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-dashed divide-slate-300">
                            {
                                jobs.map((item) => (
                                    <tr class="transition duration-150 hover:bg-slate-100">
                                        <td class="px-6 py-4 text-base font-medium whitespace-normal text-slate-800">
                                            {item.data.title}
                                        </td>
                                        <td
                                            class="px-6 py-4 text-base whitespace-normal text-slate-800"
                                            set:html={item.data.description}
                                        />
                                        <td class="px-6 py-4 text-end text-sm font-medium whitespace-nowrap">
                                            <a
                                                href={
                                                    "/contact?subject=application+for+" +
                                                    item.data.title
                                                }
                                                data-astro-reload
                                                class="inline-flex items-center gap-x-2 text-teal-700 transition-colors duration-300 hover:text-teal-800 focus:outline-hidden"
                                            >
                                                {pageContent.actionLabel}
                                            </a>
                                        </td>
                                    </tr>
                                ))
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>
